body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* SETEO EL PADDING PARA EVITAR QUE TODO TOQUE EL BORDE */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* SETEO ANCHO MAXIMO DE ELEMENTS DE INPUT */
input,
select,
textarea {
    max-width: 280px;
}

/*ACA BAJO LAS DESCRIPCIONES DEL HOME INDEX*/
.body-content {
    padding-top: 100px;
}

/*ESTOS SON LOS PARAMETROS DE CSS DE  LOS  CUADROS DE LA VIEW HOME INDEX*/

#amarillo
{
    background-color: rgba(255,231,87,0.7);
    border-radius: 25px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    color: rgb(80,80,80);
} 


#azul
{
    background-color: rgba(43,65,98,0.7);
    border-radius: 25px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    color: rgb(200,200,200);
}


#verde 
{
    background-color: rgba(195,255,107,0.8);
    border-radius: 25px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    color: rgb(80,80,80);
}



/*ESTOS SON LOS PARAMETROS DE CSS PARA LAS COSAS DE LA VIEW MI HELADERA*/
#azul2 .col-sm-3
{
    background-color: rgba(43,65,98,0.7);
   
}

#verde2 .col-sm-3
{
    background-color: rgba(195,255,107,0.7);
}
   
#rojo2 .col-sm-3
{
    background-color: rgba(255,94,81,0.7);
}
 
#amarillo2 .col-sm-3
{
    background-color: rgba(255,231,87,0.7);
}  
