body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*para bajar los botones del home*/
.body-content {
    padding-top: 100px;
}

/*colores de fondo de los 3 div de descripcion*/
#verde 
{
    background-color: rgba(195,255,107,0.8);
    border-radius: 25px;
    text-align: center;
    
}
/*PREGUNTAR A JUAN POR QUE PASA LO QUE PASA CUANDO SACO EL .COL-SM-3*/
#azul2 .col-sm-3
{
    background-color: rgba(43,65,98,0.7);
   
}

#verde2 .col-sm-3
{
    background-color: rgba(195,255,107,0.7);
}
   
#rojo2 .col-sm-3
{
    background-color: rgba(255,94,81,0.7);
}
 
#amarillo2 .col-sm-3
{
    background-color: rgba(255,231,87,0.7);
}  