
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

@*ACA VIENE EL TITULO DE LA RECETA QUE ME ENTREGA LA BBDD*@
<h2>@ViewBag.Receta.Titulo</h2>

@*ACA VIENE EL TEXTO O PREPARACION DE LA RECETA QUE ME ENTREGA LA BBDD*@
<p>@ViewBag.Receta.Texto</p>