@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@


    <div class="row"> 
        
            <div class="col-md-4">
                <div id="verde">
                    <h2>Mi Heladera</h2>
                    <p>
                        Crees que no te podes cocinar nada?
                        Nosotros podemos ayudarte, decinos que tenes y te decimos que hacer.
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
        </div>
        
        <div class="azul">
            <div class="col-md-4">
                <h2>Enchulame La Cocina</h2>
                <p>Te falta el pelachoclo, un spray de citricos o un separador de llemas? Tus whisky stones o tu infusor ya estan out?Entra aca, tenemos eso que te hace falta</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            </div>
        <div class="amarillo">
            <div class="col-md-4">
                <h2>Mejor Salgo</h2>
                <p>No siempre estas de humor para desplegar tu magia. Decinos donde estas, sabemos donde mandarte.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            </div>
        </div>
