@{
    ViewBag.Title = "Home Page";
}
@*EL ROW ES PARA QUE LOS 3 ME QUEDEN EN UNA FILA*@
    <div class="row"> 
        
            <div class="col-md-4" >
                <div id="azul">
                    <h2>Mi Heladera</h2>
                    <p> Crees que no te podes cocinar nada?
                        Nosotros podemos ayudarte, decinos que tenes y te decimos que hacer.<br /><br />
                    </p>
                </div>
            </div>
       
            <div class="col-md-4">
                <div id="verde">
                    <h2>Enchulame La Cocina</h2>
                    <p>Te falta el pelachoclo, un spray de citricos o un separador de llemas? Tus whisky stones o tu infusor ya estan out?Entra aca, tenemos eso que te hace falta</p>
                </div>
           </div>
      
            <div class="col-md-4" id="amarillo">
               
                    <h2>Mejor Salgo</h2>
                    <p>No siempre estas de humor para desplegar tu magia. Decinos donde estas, sabemos donde mandarte.</p>
                    <br /><br />
               
            </div>
            
        </div>
