@{
    ViewBag.Title = "MejorSalgo";
}

@*ACA EN UNA ETAPA MAS AVANZADA DEL DESARROLLO VA A VENIR UN API TIPO QUE PREPARO PERO QUE RECOMIENDE 
    RESTAURANT CERCANOS*@
<h1>Falta la api de google map y los restaurants</h1>


