@{
    ViewBag.Title = "MiHeladera";
}
<form action="@Url.Action("BuscarReceta" , "Receta")"method="post">
    <div class="row">
        <div id="azul2">
            <div class="col-sm-3">
                <h1>Almacen 1</h1>
    <select name="secciones">
        <option value="1">---</option>
        <option value="2">Arroz</option>
        <option value="3">Saborizador/Caldito</option>
        <option value="4">Sal</option>
        <option value="5">Atun en lata</option>
        <option value="6">Huevos</option>
        <option value="7">Aceite</option>
        <option value="8">Vinagre</option>
        <option value="9">Pure de tomate</option>
        <option value="10">Pimienta</option>
        <option value="11">Harina</option>
        <option value="12">Pan rallado</option>
        <option value="13">Mostaza</option>
        <option value="14">Mermelada</option>
        <option value="15">Aceitunas</option>
        <option value="16">Lentejas</option>
        <option value="17">Pasta seca</option>
    </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 2</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 3</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 4</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 5</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 6</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 7</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    <div class="col-sm-3">
        <h1>Almacen 8</h1>
        <select name="secciones">
            <option value="1">---</option>
            <option value="2">Arroz</option>
            <option value="3">Saborizador/Caldito</option>
            <option value="4">Sal</option>
            <option value="5">Atun en lata</option>
            <option value="6">Huevos</option>
            <option value="7">Aceite</option>
            <option value="8">Vinagre</option>
            <option value="9">Pure de tomate</option>
            <option value="10">Pimienta</option>
            <option value="11">Harina</option>
            <option value="12">Pan rallado</option>
            <option value="13">Mostaza</option>
            <option value="14">Mermelada</option>
            <option value="15">Aceitunas</option>
            <option value="16">Lentejas</option>
            <option value="17">Pasta seca</option>
        </select>
    </div>
    </div>
    </div>

    <div class="row">
        <div id="verde2">
            <div class="col-sm-3">
                <h1>Frutas y Verduras 1</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 2</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 3</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 4</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 5</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 6</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 7</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Frutas y Verduras 8</h1>
                <select name="secciones">
                    <option value="18">---</option>
                    <option value="19">Cebolla</option>
                    <option value="20">Zanahoria</option>
                    <option value="21">Pimiento/Morron Colorado</option>
                    <option value="22">Ajo</option>
                    <option value="23">Arvejas</option>
                    <option value="24">Tomate</option>
                    <option value="25">Perejil</option>
                    <option value="26">Pimiento/Morron Verde</option>
                    <option value="27">Puerro</option>
                    <option value="28">Papa</option>
                    <option value="29">Laurel</option>
                    <option value="30">Oregano</option>
                    <option value="31">Romero</option>
                    <option value="32">Berenjenas</option>
                    <option value="33">Espinaca</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="rojo2">
            <div class="col-sm-3">
                <h1>Carnes 1</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 2</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 3</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 4</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 5</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 6</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 7</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Carnes 8</h1>
                <select name="secciones">
                    <option value="34">---</option>
                    <option value="35">Jamon Cocido</option>
                    <option value="36">De Vaca</option>
                    <option value="37">Picada</option>
                    <option value="38">Pollo</option>
                    <option value="39">Bife</option>
                    <option value="40">Panceta</option>
                    <option value="41">Salchichas</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="amarillo2">
            <div class="col-sm-3">
                <h1>Lacteos 1</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 2</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 3</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 4</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 5</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 6</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 7</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
            <div class="col-sm-3">
                <h1>Lacteos 8</h1>
                <select name="secciones">
                    <option value="42">---</option>
                    <option value="43">Manteca</option>
                    <option value="44">Crema de Leche</option>
                    <option value="45">Queso Rayado</option>
                    <option value="46">Queso Azul</option>
                    <option value="47">Queso Mozzarella</option>
                    <option value="48">Leche</option>
                </select>
            </div>
        </div>
    </div>

    <input type="submit" value="Que Preparo">
</form>