/* ACA VA LA IMAGEN DE FONDO Y EL COLOR SI ESTA SE ACHICA*/
body {
    background-image: url("file:///C:/Users/Valentin/Desktop/PROGRAMACION/ComIT/quePreparo/imagenes/posiblesFondo/listas/elmejorfondo_opt.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgba(130,130,130,0.8)
}
/*
.btn-default
{
 border: 5px solid rgba(255,0,0,1);
    padding: 100px 100px; 
    background: rgb(255,255,255);
    width: 150px;
    border-radius: 80%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    color:rgba(255,0,0,1);
}
*/
/* ACA ES DONDE SE LE REDONDEAN LOS BORDES Y SE ASEGURA QUE LAS LETRAS QUEDEN DENTRO DEL BOTON*/
.btn 
{
border-radius: 10%;
white-space: initial;
}

/*ACA ES DONDE LOS BOTONES QUEDAN TODOS DEL MISMO TAMAñO
.container
{
    display: table; 
    width: 100%; 

.col
{
    display: table-cell; 
}
*/